<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intan.latihanui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatihanUI">
        <activity android:name=".SplassScreenActivity"
            android:theme="@style/Theme.LatihanUI.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.LatihanUI.noActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.LatihanUI.noActionBar" />
        <activity android:name=".EdukasiActivity" />
        <activity android:name=".BerandaActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.LatihanUI.noActionBar">
        </activity>
    </application>

</manifest>